<div class="card">
    <div  class="card-header">
        <a routerLink="/lugares">Lugares</a> / Contacto
    </div>
</div>

<div class="container">
    <h2 class="text-center">Contacto Platzi Square!</h2>
    <form>
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" placeholder="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="correo" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="correo" placeholder="correo">
            </div>
        </div>
        <div class="form-group row">
            <label for="mensaje" class="col-sm-2 col-form-label">Mensaje</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="mensaje" placeholder="mensaje"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <a href="#" role="button" class="btn btn-primary">
                    Enviar
                </a>
                <a routerLink="/lugares" role="button" class="btn btn-light">Cancelar</a>
            </div>
        </div>
    </form>
</div>