<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h2>Lugares Cercanos</h2>
      <a class="btn btn-primary" role="button" routerLink="/nuevo">Nuevo negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares; let i = index">
          <a>
            <li class="list-group-item">
              <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action: 'view', referer: 'google'}">{{lugar.nombre}}</a>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>
    <div class="col-sm-3">
      <h2>Sugerencias</h2>
    </div>
  </div>
</div>